---
import SystemIcon from "@/icons/SystemIcon.astro";

interface Props {
  title?: string;
  systemIconName: string;
}

const { title, systemIconName } = Astro.props;
---

<article class="project-info-card">
  <SystemIcon
    class="project-info-card__icon"
    iconName={systemIconName}
    style={{ pathColor: "url(#brandGradient)" }}
  />
  <div class="project-info-card__content">
    {title && <h3 class="project-info-card__title">{title}</h3>}
    <p class="project-info-card__description">
      <slot />
    </p>
  </div>
</article>

<style>
  .project-info-card {
    /* Layout */
    display: flex;
    padding: var(--space-600);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-600);
    align-self: stretch;

    /* Typography */
    word-break: keep-all;

    /* Style */
    border-radius: var(--radius-100);
    border: 1px solid var(--color-border-default-default);
    background: var(--background-color);
    box-shadow: var(--size-depth-0) var(--size-depth-200) var(--size-depth-400)
      var(--size-depth-negative-200) var(--color-black-300);
  }

  .project-info-card__icon {
    /* Layout */
    width: 4.375rem;
    min-width: 4.375rem;
    max-width: 4.375rem;
    fill: none;
  }

  .project-info-card__content {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-100);
    align-self: stretch;
    flex: 1 0 0;
  }

  .project-info-card__title,
  .project-info-card__description {
    /* Layout */
    align-self: stretch;

    /* Typography */
    color: var(--color-text-default-default);
    font-size: var(--body-size-medium);
    font-style: normal;
    font-weight: var(--body-font-weight-strong);
    line-height: 140%;
  }

  .project-info-card__description {
    font-weight: var(--body-font-weight-regular);
  }

  @media screen and (min-width: 48em) {
    .project-info-card {
      /* Layout */
      flex-direction: row;
    }

    .project-info-card__title {
      /* Typography */
      font-size: var(--subheading-size-medium);
      font-style: normal;
      font-weight: var(--subheading-font-weight-strong);
    }
  }
</style>
