---
import AnchorButton from "@/components/shared/buttons/AnchorButton.astro";
import Arrow from "@/icons/component-icons/Arrow.astro";
---

<AnchorButton
  id="backButton"
  href="javascript:window.history.back()"
  ariaLabel="Volver atrás"
  target="_self"
  type="tertiary"
>
  <Arrow style="fill: url(#brandGradient)" direction="left" />
  <span class="back-button__content">Atrás</span>
</AnchorButton>

<style>
  .back-button__content {
    /* Typography */
    font-size: var(--body-size-large);
    font-style: normal;
    font-weight: var(--body-font-weight-strong);
    line-height: 140%;
  }
</style>
