---
import FavIcon from "@/icons/FavIcon.astro";
---

<footer class="footer">
  <FavIcon class="footer__icon" style="fill: url(#brandGradient);" size="51" />
  <p class="footer__text">©️ Pablo Rodriguez</p>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);

    justify-content: center;
    align-items: center;

    width: 100%;
    padding: var(--space-800);

    background-image: url("/src/assets/shared/FooterBackground.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: center;
    box-sizing: border-box;

    border-style: solid none none none;
    border-width: 1px;
    border-image: var(--primary-color-1000) 1;
  }
  .footer__icon {
    /* Layout */
    min-width: var(--size-icon-large);
    width: var(--size-icon-large);
    max-width: var(--size-icon-large);
    height: auto;
  }

  .footer__text {
    text-align: center;
    justify-content: center;
    font-size: var(--typography-body-size-base);
    font-weight: var(--typography-body-font-weight-strong);

    background: var(--primary-color-1000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
</style>
