@import "@fontsource-variable/montserrat";

:root {
    --primary-color-1000: linear-gradient(to right, var(--left-color-1000), var(--right-color-1000));
    --primary-color-100: linear-gradient(to right, var(--left-color-100), var(--right-color-100));

    /* Primary Color Variants */
    --primary-color-top-1000: linear-gradient(to bottom, var(--left-color-1000), var(--right-color-1000)); /* Starts from top */

    /* Fixed Colors */
    --color-black-200: rgba(12, 12, 13, 0.1);
    --color-black-300: rgba(12, 12, 13, 0.2);

    /* Spacing */
    --space-0: 0;
    --space-25: 0.063rem;
    --space-50: 0.125rem;
    --space-100: 0.25rem;
    --space-150: 0.375rem;
    --space-200: 0.5rem;
    --space-300: 0.75rem;
    --space-400: 1rem;
    --space-500: 1.25rem;
    --space-600: 1.50rem;
    --space-800: 2rem;
    --space-1200: 3rem;
    --space-1600: 4rem;
    --space-2400: 6rem;
    --space-4000: 10rem;
    --space-8000: 20rem;
    --space-negative-800: -2rem;

    --space-negative-100: -0.5rem;

    /* Radius */
    --radius-50: 0.125rem;
    --radius-100: 0.25rem;
    --radius-200: 0.5rem;

    /* Size - Icon */
    --size-icon-large: 2.5rem;

    /* Depth */
    --depth-0: 0;
    --depth-100: 0.25rem;
    --depth-200: 0.5rem;
    --depth-400: 1rem;
    --depth-negative-100: -0.25rem;
    --depth-negative-200: -0.5rem;

    /* Typography Size */
    --typography-title-hero-size: 4.5rem;
    --typography-title-size-base: 3rem;
    --typography-subtitle-size-base: 2rem;
    --typography-heading-size-base: 1.5rem;
    --typography-subheading-size-base: 1.25rem;
    --typography-subheading-size-small: 1rem;
    --typography-body-size-large: 1.25rem;
    --typography-body-size-base: 1rem;
    --typography-body-size-small: 0.875rem;

    /* Typography Weight */
    --typography-title-hero-font-weight: 700;
    --typography-title-font-weight: 700;
    --typography-subtitle-font-weight: 700;
    --typography-heading-font-weight: 600;
    --typography-subheading-font-weight: 600;
    --typography-body-font-weight-regular: 400;
    --typography-body-font-weight-strong: 600;
}

/* Default Theme */
:root, :root[data-theme="dark"] {
    color-scheme: dark;

    --left-color-1000: #FF67A7;
    --left-color-100: rgba(255, 103, 167, 0.1);

    --right-color-1000: #FC8E50;
    --right-color-100: rgba(252, 142, 80, 0.1);

    /* Background */
    --background-color: #1E1E1E;
    --background-color-500: rgba(30, 30, 30, 0.5);
    --color-background-default-secondary-500: rgba(44, 44, 44, 0.5);
    --color-background-default-secondary: #2C2C2C;
    --color-background-danger-tertiary: #4D0B0A;
    --color-background-positive-tertiary: #024023;

    /* Icon */
    --color-icon-default-default: #FFFFFF;
    --color-icon-neutral-onneutral: rgba(36, 36, 36, 1);

    /* Border */
    --color-border-default-default: rgba(68, 68, 68, 1);

    /* Typography */
    --color-text-default-default: #fff;
    --color-text-default-secondary: rgba(255, 255, 255, 0.7);
    --color-text-neutral-onneutral: rgba(36, 36, 36, 1);
    --color-text-danger-tertiary: #EC221F;
    --color-text-positive-tertiary: #009951;
}

:root[data-theme="light"] {
    color-scheme: light;

    --left-color-1000: #3563CB;
    --left-color-100: rgba(53, 99, 203, 0.1);

    --right-color-1000: #A242BF;
    --right-color-100: rgba(162, 66, 191, 0.1);

    /* Background */
    --background-color: #fff;
    --background-color-500: rgba(255, 255, 255, 0.5);
    --color-background-default-secondary-500: rgba(245, 245, 245, 0.5);
    --color-background-default-secondary: #F5F5F5;
    --color-background-danger-tertiary: #FEE9E7;
    --color-background-positive-tertiary: #EBFFEE;

    /* Icon Colors */
    --color-icon-default-default: #1E1E1E;
    --color-icon-neutral-onneutral: rgba(243, 243, 243, 1);

    /* Border */
    --color-border-default-default: rgba(217, 217, 217, 1);

    /* Typography */
    --color-text-default-default: #1E1E1E;
    --color-text-default-secondary: rgba(117, 117, 117, 1);
    --color-text-neutral-onneutral: rgba(243, 243, 243, 1);
    --color-text-danger-tertiary: #EC221F;
    --color-text-positive-tertiary: #14AE5C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: "Montserrat Variable";
}

h1 {
    text-align: center;
    font-size: var(--typography-title-size-base);
}