@import "@fontsource-variable/montserrat";

:root {
    /* Colors */
    --color-primary-1000: linear-gradient(to right, var(--color-primary-gradient-left-1000), var(--color-primary-gradient-right-1000));
    --color-primary-100: linear-gradient(to right, var(--color-primary-gradient-left-100), var(--color-primary-gradient-right-100));
    --color-primary-vertical-1000: linear-gradient(to bottom, var(--color-primary-gradient-left-1000), var(--color-primary-gradient-right-1000)); /* Starts from top */
    --color-black-200: rgb(12 12 13 / 0.1);
    --color-black-300: rgb(12 12 13 / 0.2);

    /* Spacing */
    --space-0: 0;
    --space-25: 0.063rem;
    --space-50: 0.125rem;
    --space-100: 0.25rem;
    --space-150: 0.375rem;
    --space-200: 0.5rem;
    --space-300: 0.75rem;
    --space-400: 1rem;
    --space-500: 1.25rem;
    --space-600: 1.50rem;
    --space-800: 2rem;
    --space-1200: 3rem;
    --space-1600: 4rem;
    --space-2400: 6rem;
    --space-4000: 10rem;
    --space-8000: 20rem;
    --space-negative-800: -2rem;

    --space-negative-100: -0.5rem;

    /* Radius */
    --radius-50: 0.125rem;
    --radius-100: 0.25rem;
    --radius-200: 0.5rem;

    /* Size - Icon */
    --size-icon-large: 2.5rem;

    /* Depth */
    --depth-0: 0;
    --depth-100: 0.25rem;
    --depth-200: 0.5rem;
    --depth-400: 1rem;
    --depth-negative-100: -0.25rem;
    --depth-negative-200: -0.5rem;

    /* Typography */
    --typography-font-family-default: "Montserrat Variable";

    /* Typography Size */
    --typography-title-hero-size: 4.5rem;
    --typography-title-size-base: 3rem;
    --typography-subtitle-size-base: 2rem;
    --typography-heading-size-base: 1.5rem;
    --typography-subheading-size-base: 1.25rem;
    --typography-subheading-size-small: 1rem;
    --typography-body-size-large: 1.25rem;
    --typography-body-size-base: 1rem;
    --typography-body-size-small: 0.875rem;

    /* Typography Weight */
    --typography-title-hero-font-weight: 700;
    --typography-title-font-weight: 700;
    --typography-subtitle-font-weight: 700;
    --typography-heading-font-weight: 600;
    --typography-subheading-font-weight: 600;
    --typography-body-font-weight-regular: 400;
    --typography-body-font-weight-strong: 600;
}

/* Default Theme */
:root, :root[data-theme="dark"] {
    color-scheme: dark;

    /* Primary */
    --color-primary-gradient-left-1000: #FF67A7;
    --color-primary-gradient-left-100: rgb(255 103 167 / 0.1);
    --color-primary-gradient-right-1000: #FC8E50;
    --color-primary-gradient-right-100: rgb(252 142 80 / 0.1);

    /* Background */
    --color-background-default-primary: #1E1E1E;
    --color-background-default-primary-500: rgb(30 30 30 / 0.5);
    --color-background-default-secondary: #2C2C2C;
    --color-background-default-secondary-500: rgb(44 44 44 / 0.5);
    --color-background-positive-tertiary: #024023;
    --color-background-danger-tertiary: #4D0B0A;

    /* Border */
    --color-border-default-primary: #444444;

    /* Foreground */
    --color-foreground-default-primary: #FFFFFF;
    --color-foreground-default-secondary: rgb(255 255 255 / 0.7);
    --color-foreground-neutral-onneutral-primary: #242424;
    --color-foreground-positive-tertiary: #009951;
    --color-foreground-danger-tertiary: #EC221F;
}

:root[data-theme="light"] {
    color-scheme: light;

    /* Primary */
    --color-primary-gradient-left-1000: #3563CB;
    --color-primary-gradient-left-100: rgb(53 99 203 / 0.1);
    --color-primary-gradient-right-1000: #A242BF;
    --color-primary-gradient-right-100: rgb(162 66 191 / 0.1);

    /* Background */
    --color-background-default-primary: #fff;
    --color-background-default-primary-500: rgb(255 255 255 / 0.5);
    --color-background-default-secondary: #F5F5F5;
    --color-background-default-secondary-500: rgb(245 245 245 / 0.5);
    --color-background-positive-tertiary: #EBFFEE;
    --color-background-danger-tertiary: #FEE9E7;

    /* Border */
    --color-border-default-primary: #D9D9D9;

    /* Foreground */
    --color-foreground-default-primary: #1E1E1E;
    --color-foreground-default-secondary: #757575;
    --color-foreground-neutral-onneutral-primary: #F3F3F3;
    --color-foreground-positive-tertiary: #14AE5C;
    --color-foreground-danger-tertiary: #EC221F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background-default-primary);
    font-family: var(--typography-font-family-default);
}

h1 {
    text-align: center;
    font-size: var(--typography-title-size-base);
}