---
import CornerDecoration from "./CornerDecoration.astro";
---

<article class="about-me">
  <CornerDecoration position="right-top" />
  <header class="about-me__header">
    <h3 class="about-me__title">Sobre Mí</h3>
  </header>
  <p class="about-me__paragraph">
    Soy Pedro Pablo Rodriguez Carranza, vivo en Bogotá, Bosa Recreo, un
    estudiante de la UNAD que en los últimos dos años se ha apasionado y ha
    estado aprendiendo sobre la tecnología, principalmente en el desarrollo de
    software.
  </p>
  <p class="about-me__paragraph">
    Solía pasar el tiempo jugando videojuegos y desperdiciando tiempo preciado
    que ahora aprovecho para leer y aprender de recursos digitales que optimizan
    mis resultados obtenidos a lo largo de mi trayectoría en la universidad
    universidad. Esto se transformo en una pasión que ahora se ha convertido en
    una aspiración que profundiza en el entorno empresarial.
  </p>
  <p class="about-me__paragraph">
    Mi objetivo es entrar en el mundo laboral del desarrollo de software y
    contribuir a la creación de productos con altos estándares de calidad,
    pero no solo escribiendo código, como si fuera un empleado más, sino que
    enfocandome en entender las necesidades de los usuarios, los requerimientos
    del producto y las tecnologías más adecuadas para obtener resultados eficientes,
    eficaces y escalables.
  </p>
  <CornerDecoration rotationDegrees={180} position="left-bottom" />
</article>

<style>
  .about-me {
    /* Layout */
    position: relative;
    display: flex;
    padding: var(--space-800);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-600);
    align-self: stretch;
    overflow: hidden;

    /* Style */
    border-radius: var(--radius-100);
    border: 1px solid var(--color-border-default-default);
    background: var(--background-color);
    box-shadow: var(--size-depth-0) var(--size-depth-200) var(--size-depth-400)
      var(--size-depth-negative-200) var(--color-black-300);
  }

  .about-me__header {
    /* Layout */
    align-self: stretch;
  }

  .about-me__title {
    /* Layout */
    max-width: 100%;
    width: fit-content;
    text-align: center;
    font-size: var(--subtitle-size-base);
    font-style: normal;
    font-weight: var(--typography-weight-bold);
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;

    /* Style */
    background: var(--primary-color-1000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .about-me__paragraph {
    /* Layout */
    align-self: stretch;

    /* Typography */
    color: var(--color-text-default-default);
    font-size: var(--body-size-medium);
    font-style: normal;
    font-weight: var(--body-font-weight-regular);
    line-height: 140%;
  }

  .corner-decoration {
    position: absolute;
  }
</style>
