---
import CornerDecoration from "./CornerDecoration.astro";
---

<article class="about-me">
  <CornerDecoration />
  <header class="about-me__header">
    <h1 class="about-me__title">Sobre Mí</h1>
  </header>
  <p class="about-me__paragraph">
    Soy Pedro Pablo Rodriguez Carranza, vivo en Bogotá, Bosa Recreo, un
    estudiante de la UNAD que en los últimos dos años se ha apasionado y ha
    estado aprendiendo sobre la tecnología, principalmente en el desarrollo de
    software. Solía pasar el tiempo jugando videojuegos y desperdiciando tiempo
    preciado que ahora aprovecho para leer y aprender de recursos digitales que
    optimizan mis resultados obtenidos a lo largo de mi trayectoría en la
    universidad universidad. Esto se transformo en una pasión que ahora se ha
    convertido en una aspiración que profundiza en el entorno empresarial. Mi
    objetivo es entrar en el mundo laboral del desarrollo de software y
    contribuir a la creación de productos con altos estándares de calidad, tanto
    en el Frontend como en el Backend, pero no solo escribiendo código, como si
    fuera un empleado más, sino que enfocandome en entender las necesidades de
    los usuarios, los requerimientos del producto y las tecnologías más
    adecuadas para obtener resultados eficientes, eficaces y escalable.
  </p>
  <CornerDecoration rotationDegrees={180} />
</article>
