---
import Picture from "astro/components/Picture.astro";
import BogotaImage from "public/Bogota.webp";
---

<div class="city-picture">
  <Picture
    class="city-picture__img"
    src={BogotaImage}
    alt="Imagén panorámica de Bogotá"
  />
</div>
