---
import GitHubIcon from "@/icons/GitHub.astro";
import LinkedinIcon from "@/icons/Linkedin.astro";
import OpenInNewIcon from "@/icons/OpenInNew.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
import AnchorButton from "./buttons/AnchorButton.astro";
---

<SectionLayout id="hero">
  <div class="hero-container">
    <div class="hero-header__picture-wrapper">
      <img
        class="hero-header__picture"
        src="public/Profile.webp"
        alt="Foto de perfil de Pedro Pablo Rodriguez Carranza"
      />
    </div>
    <header class="hero-header">
      <h1 class="hero-header__title">Pedro Pablo Rodriguez Carranza</h1>
      <h2 class="hero-header__occupation">Desarrollador Fullstack</h2>
    </header>
    <p class="hero__content">
      Lorem ipsum dolor sit amet consectetur. Diam id mauris placerat volutpat
      sit quam. Sed eget a in elementum massa semper tellus. Sagittis massa
      tristique cursus at eget viverra accumsan.
    </p>
    <footer class="hero-footer">
      <AnchorButton href="cv.pdf" ariaLabel="Hoja de vida en una nueva página">
        <OpenInNewIcon style="stroke: var(--color-icon-neutral-onneutral);" />
        Ver CV
      </AnchorButton>

      <AnchorButton
        href="https://github.com/PabloStarOk"
        ariaLabel="Perfil de GitHub en una nueva página"
        type="secondary"
      >
        <GitHubIcon style="fill: url(#brandGradient)" />
      </AnchorButton>

      <AnchorButton
        href="http://www.linkedin.com/in/pedro-pablo-rodriguez"
        ariaLabel="Perfil de LinkedIn en una nueva página"
        type="secondary"
      >
        <LinkedinIcon style="fill: url(#brandGradient)" />
      </AnchorButton>
    </footer>
  </div>
</SectionLayout>

<style>
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-200) 0;
    gap: var(--space-600);
    width: 100%;
  }

  .hero-header__picture-wrapper {
    display: inline-block;
    border-radius: 50%;
    width: 50%;
    max-width: 25rem;
    background: var(--primary-color-1000);
    padding: 2.5px;
  }

  .hero-header__picture {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
  }

  .hero-header {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-100);
  }

  .hero-header__title {
    /* Layout */
    align-self: stretch;

    /* Typography */
    text-align: center;
    font-size: var(--heading-size-base);
    font-style: normal;
    font-weight: var(--title-page-font-weight);
    line-height: 120%;
    letter-spacing: -0.03rem;

    /* Sytle */
    background: var(--primary-color-1000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-header__occupation {
    /* Layout */
    align-self: stretch;

    /* Typography */
    color: var(--color-text-default-default);
    text-align: center;
    font-size: var(--subheading-size-medium);
    font-style: normal;
    font-weight: var(--typography-weight-bold);
    line-height: 120%;
  }

  .hero__content {
    /* Layout */
    width: 100%;
    max-width: 30rem;

    /* Typography */
    color: var(--color-text-default-default);
    text-align: center;
    font-size: var(--body-size-small);
    font-style: normal;
    font-weight: var(--body-font-weight-regular);
    line-height: 140%;
  }

  .hero-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-300);
    align-self: stretch;
  }

  @media (min-width: 768px) {
    .hero-container {
      /* Layout */
      padding: var(--space-1200) 0;
      gap: var(--space-800);
    }

    .hero-header__picture-wrapper {
      padding: 5px;
    }
    .hero-header__title {
      /* Typography */
      font-size: var(--title-page-size-base);
      font-weight: var(--title-page-font-weight);
      letter-spacing: -0.06rem;
    }

    .hero-header__occupation {
      /* Typography */
      font-size: var(--subtitle-size-base);
    }

    .hero__content {
      /* Typography */
      font-size: var(--body-size-medium);
    }
  }
</style>
