---
import { techIconsMap } from "@/data/icons";
import { Image } from "astro:assets";

interface Props {
  technology: string;
}

const { technology } = Astro.props;

const icon = techIconsMap.get(technology);
if (!icon)
  throw new Error(
    `Given technology name \"${technology}\" wasn't found in the techIconsMap.`
  );
---

<span class="project-tech-badge">
  <Image
    class="project-tech-badge__icon"
    src={icon.metadata}
    alt=""
    aria-hidden="true"
  />
  <span class="project-tech-badge__label">{technology}</span>
</span>

<style>
  .project-tech-badge {
    /* Layout */
    display: inline-flex;
    padding: var(--space-150);
    justify-content: center;
    align-items: center;
    gap: var(--space-150);

    /* Style */
    border-radius: var(--radius-100);
    background: var(--color-background-default-secondary);
  }

  .project-tech-badge__icon {
    width: auto;
    height: auto;
    max-width: 0.9375rem;
    max-height: 0.9375rem;
  }

  .project-tech-badge__label {
    /* Typography */
    color: var(--color-foreground-default-primary);
    text-align: center;
    font-size: var(--typography-body-size-small);
    font-style: normal;
    font-weight: var(--typography-body-font-weight-regular);
    line-height: normal;
  }
</style>
