---
import AboutCard from "@/components/index/about/AboutCard.astro";
import AboutDescription from "@/components/index/about/AboutDescription.astro";
import CityPicture from "@/components/index/about/CityPicture.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout id="about" title="¿Quién Soy?">
  <div class="about__container">
    <AboutDescription />
    <div class="about__right-side">
      <CityPicture />
      <AboutCard
        title="Aspiraciones"
        content="Mi principal meta es adentrarme en el sector profesional del desarrollo de software, adquirir experiencia práctica y consolidarme como un desarrollador destacado en este entorno digital que tanto me apasiona. Quiero formar parte de equipos, afrontar retos y contribuir en soluciones innovadoras."
      />
    </div>
    <AboutCard
      title="Hobby"
      content="Disfruto mucho de los videojuegos, y este interés me ha llevado a explorar el fascinante mundo del desarrollo de videojuegos. Me apasiona entender y aplicar conceptos como físicas, mecánicas de juego y sistemas innovadores que representan un reto para mi creatividad y habilidades técnicas."
    />
    <AboutCard
      title="Aprendiendo"
      content="Actualmente estoy enfocando mis esfuerzos en mejorar mis competencias en el desarrollo de aplicaciones, bibliotecas y soluciones utilizando C# y .NET. Esto me permite profundizar en el manejo de arquitecturas de diseño y expandir mis conocimientos en desarrollo profesional de software."
    />
  </div>
</SectionLayout>

<style>
  .about__container {
    display: grid;
    grid-auto-rows: auto;
    gap: var(--space-800);
    padding: var(--space-600) 0;
  }

  .about__right-side {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: var(--space-800);
  }

  @media (min-width: 64em) {
    .about__container {
      grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
      padding: var(--space-800) 0;
    }
  }
</style>
