---
interface Props {
  id: string;
  title?: string;
}

const { id, title } = Astro.props;
---

<section id={id} class="section-layout">
  {title && <h2 class="section-layout__title">{title}</h2>}
  <slot />
</section>

<style>
  .section-layout {
    width: 100%;
    min-height: 34.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
  }

  .section-layout__title {
    /* Typography */
    text-align: center;
    font-size: var(--subtitle-size-base);
    font-style: normal;
    font-weight: var(--typography-weight-bold);
    line-height: 120%;

    /* Style */
    background: var(--primary-color-1000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
